body {
    background-color: #eee;
}

canvas {
    position: fixed;
    top: 50%;
    color:#fff;
    background-image: -webkit-radial-gradient(center center, circle cover, #dd2e72, #d22854)
}

#overlay {
    position: fixed;
    top: 50%;
    color:#000;
    /*opacity:0.5;
    background: #ff0;*/
}
