body {
    background-color: #eee;
}

canvas {
/*  background-color: #555; */
    position: fixed;
    top: 50%;
    left: 50%;
    color:#fff;
    background-image: -webkit-radial-gradient(center center, circle cover, #dd2e72, #d22854)
}
