body {
    background-color: #eee;
}

canvas {
    position:absolute;
    top:0px;
    margin:0px;
    width:100%;
    height:100%;
}

#background {
    position:absolute;
    top:0px;
    margin:0px;
    width:100%;
    height:100%;
    background-image: -webkit-radial-gradient(center center, circle cover, #fff, #ddd);
    background-image: -moz-radial-gradient(center center, circle cover, #fff, #ddd);
}

#selectionrow {
    height:8.3%;
    width:100%;
    position:absolute;
    top:16.6%;
    margin:0%;
    background-image: -webkit-radial-gradient(center center, circle cover, #dd2e72, #d22854);
    //background-image: -webkit-radial-gradient(center center, circle cover, #dd2e72, #d22854);
    //background-image: -moz-radial-gradient(center center, circle cover, #dd2e72, #d22854);
}

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight:400;
    font-size:36px;
}

p {
    font-family: 'Questrial', sans-serif;
    line-height:1.25;
    font-size:14px;
}

.numeral {
    font-family: 'Nobile', sans-serif;
    font-weight:700;
    font-size:100px;
    /*color:#74BBFB;*/
    color:#385fa2;
    position:absolute;
    bottom: 5px;
    right: -5px;
    text-shadow:
/*      3px 3px 0 #000, /* <-- inc these 2 #'s for a bigger drop shadow */
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

.scrollpage {
    position:absolute;
    height:100%;
    top:0;
    margin:0px;
}

#canvaspage {
    position:absolute;
    left:0px;
    height:100%;
    margin:0px;
    width:100%;
}

#wideband {
    display:inline;
    position:absolute;
    top:5%;
    bottom:5%;
    width:100px;
    margin:0;
    color:#222;
    background-color:#eee;
    overflow-x:hidden;
    overflow-y:hidden;
}

.arrow {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size:24px;
    position:absolute;
    bottom: 5px
}
